.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: brown;
    margin-top: 20px;
    color: #fff;
}

.footer__icon {
    color: #fff;
    margin-right: 5px;
}